{% extends 'base.html.twig' %}

{% block title %}Edit Optreden{% endblock %}

{% block body %}
    <h1>Edit Optreden</h1>

    {{ include('optreden/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('optreden_index') }}">back to list</a>

    {{ include('optreden/_delete_form.html.twig') }}
{% endblock %}
